{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'home/img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span style="font-family: animation-delay;">Định hình cơ thể của bạn </span>
                                <h1 style="font-family: animation-delay;" >Hãy <strong style="font-family: animation-delay;" >mạnh mẽ</strong> tập luyện chăm chỉ</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{% static 'home/img/hero/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span style="font-family: animation-delay;">Định hình cơ thể của bạn </span>
                                <h1 style="font-family: animation-delay;" >Hãy <strong style="font-family: animation-delay;" >mạnh mẽ</strong> tập luyện chăm chỉ</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>TẠI SAO LẠI CHỌN CHÚNG TÔI?</span>
                        <h2>ĐẨY LÊN GIỚI HẠN CỦA BẠN</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Thiết bị hiện đại</h4>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Kế hoạch dinh dưỡng lành mạnh</h4>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Kế hoạch đào tạo cá nhân</h4>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Duy nhất cho nhu cầu của bạn</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>LỚP CỦA CHÚNG TÔI</span>
                        <h2>NHỮNG GÌ CHÚNG TÔI CÓ THỂ CUNG CẤP</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'home/img/classes/class-1.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Giảm cân</span>
                            <h5>Khóa bồi dưỡng</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'home/img/classes/class-2.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Yoga</span>
                            <h5>UỐng dẽo</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'home/img/classes/class-3.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Khỏe</span>
                            <h5>Bài tập nhẹ</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'home/img/classes/class-4.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Sức mạnh</span>
                            <h4>Cử tạ</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'home/img/classes/class-5.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Đào tạo</span>
                            <h4>Boxing</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="{% static 'home/img/banner-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>ĐĂNG KÝ NGAY ĐỂ NHẬN ĐƯỢC NHIỀU ƯU ĐÃI HƠN</h2>
                        <div class="bt-tips">NƠI SỨC KHỎE, SẮC ĐẸP VÀ THỂ CHẤT GẶP NHAU.</div>
                        <a href="{% url 'customer:register' %}" class="primary-btn  btn-normal">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>KẾ HOẠCH CỦA CHÚNG TÔI</span>
                        <h2>LỚP HỌC THỂ HÌNH ONLINE</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>FUNCTIONAL</h3>
                        <ul>
                            <li>Lớp học này bao gồm các bài tập kết hợp đa</li>
                            <li>nhóm cơ, kết hợp giữa các dụng cụ tập luy và</li>
                            <li>các máy <b>Function Trainer</b> cao cấp</li>
                            
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Enroll now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>TABATA</h3>
                        <ul>
                            <liCác bài tập cường độ cao<b> không dụng cụ</b>,</li>
                            <li>tăng cơ đốt mỡ toàn thân, lớp học thách thức</li>
                            <li>mọi giới hạn của bạn</li>
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Enroll now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>YOGA – NHẢY ZUMBA</h3>
                        <div class="pi-price">
                        <ul>
                            <li>Các học viên sẽ được học với đội ngũ</li>
                            <li><b>HLV Yoga – Zumba </b>chất lượng cao, được <b>GymPanDa</b></li>
                            <li>tuyển chọn từ trong nước đến quốc tế.</li>
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Enroll now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->

    <!-- Gallery Section Begin -->
    <div class="gallery-section">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static 'home/img/gallery/gallery-1.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-1.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'home/img/gallery/gallery-2.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-2.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'home/img/gallery/gallery-3.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-3.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'home/img/gallery/gallery-4.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-4.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'home/img/gallery/gallery-5.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-5.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static 'home/img/gallery/gallery-6.jpg' %}">
                <a href="{% static 'home/img/gallery/gallery-6.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
    </div>
    <!-- Gallery Section End -->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>ĐỘI NGŨ CỦA CHÚNG TÔI</span>
                            <h2>ĐÀO TẠO VỚI CHUYÊN GIA</h2>
                        </div>
                        <a href="{% url 'contact:contact_view' %}" class="primary-btn btn-normal appoinment-btn">Cuộc hẹn</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-1.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-2.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-3.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-4.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-5.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{% static 'home/img/team/team-6.jpg' %}">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->
{% endblock %}



</body>

</html>